<div class="user-card">
	<div class="card-left">
		<div class="card-avatar-container">
			<img src="" class="card">
		</div>
		<div class="card-personal-data">
			<p class="card-fio">Кузнецова Ангелина Викторовна</p>
			<p class="card-position">Преподаватель химии</p>
		</div>
	</div>
	<div class="card-right">
		<div class="card-info">
			<p class="card-department">Кафедра - Медицинской биохимии и биофизики</p>
			<p class="card-faculty">Факультет - Биологии и медицины</p>
		</div>
		<div class="cab-count">
			<p>Каб. 308</p>
		</div>
	</div>
</div> 
