<footer>
	<div class="footer-left">
		<div class="left-content">
			©ФГАОУ ВО «УрФУ имени первого <br>
			Президента России Б.Н. Ельцина». <br>
			All Rights reserved.
		</div>
	</div>
	<div class="footer-right">
		<div class="curator-info">
			<div class="info-content">
				Ваш куратор по введению в должность: <br>
				Кравченко Дмитрий Борисович - <br>
				Зав. кафедрой Медицинской биохимии и биофизики
			</div>
		</div>
		<div class="arrow">
			<img src="styles/icons/arrow.png">
		</div>
		<div class="curator-data">
			<div class="data-content">
				+7 912 000 00 00 <br>
				emailmailmail@mail.ru <br>
				корп. Мира 19, 310 каб. <br>
			</div>
		</div>
	</div>
</footer> 
