<head>
	<meta charset="utf-8">
	<title>Главная</title>
	<link rel="stylesheet" type="text/css" href="./styles/style.css">
	<link rel="stylesheet" type="text/css" href="./styles/header.css">
	<link rel="stylesheet" type="text/css" href="./styles/user-card.css">
	<link rel="stylesheet" type="text/css" href="./styles/footer.css">
	<link rel="stylesheet" type="text/css" href="./styles/documents-content.css">
	<link rel="stylesheet" type="text/css" href="./styles/generalities.css">
	<link rel="stylesheet" type="text/css" href="./styles/institute-content.css">
	<link rel="stylesheet" type="text/css" href="./styles/responsibilities-content.css">
	<link rel="stylesheet" type="text/css" href="./styles/tasks.css">
	<link rel="stylesheet" type="text/css" href="./styles/main-intern-content.css">
	<script type="text/javascript" src="./scripts/script.js"></script>
</head> 
