<script type="text/javascript">
	var user_type = <?php echo $user_type;?>;
</script>
<header>
	<div class="role">
		<a href="./supervisor.php">Руководитель</a>
		<a href="./intern.php">Стажер</a>
	</div>
	<div class="user-list">
		<form method="GET">
			<select name="users" class="users" onchange="change_user(this.value)" autocomplete="off">
				<option selected disabled>Пользователь</option>
				<?php
					$user_id = 0;
					$sql = "SELECT * FROM users
					WHERE role_id=$user_type";
					$result = mysqli_query($link, $sql);
					$first = true;
					while ($row = mysqli_fetch_assoc($result)) {
						if($first) {
							$user_id = $row["id"];
							$first = false;
						}
						$id = $row['id'];
						$name = $row['name'];
						echo "
							<option value='$id'>$name</option>
						";
					}
					if(isset($_GET["change_user"])) {
						$user_id = $_GET["users"];
					}

				?>
			</select>
		</form>
	</div>
</header> 
