<div class="documents-content" id="documents">
	<div class="documents-left">
		<img src="./styles/icons/arrow-back.svg" class="arrow-back" onclick="back()">
		<div class="documents-title">
			Список нормативных документов
		</div>
		<div class="documents-list">
			<div class="list-item">
				<p class="title">Документы</p>
				<li>1</li>
				<li>2</li>
			</div>
		</div>
	</div>
	<div class="documents-right">
		<div class="documents-title">
			Условия труда
		</div>
		<div class="documents-list">
			<div class="list-item">
				<!-- <p class="title">Заголовок</p> -->
				<li>Большая часть рабочего дня учителя начальных классов проходит в помещении, в основном в положении стоя. В работе учителя начальных классов используют ручные средства труда (ручка, карандаш, краски, бумага для организации занятий с детьми) и современные технические средства (проекторы, персональные компьютеры, интерактивные доски). Рабочее место должно быть хорошо освещено, иметь возможность для регулярного проветривания.</li>
			</div>
		</div>
	</div>
</div>