<div class="generalities-content" id='generalities'>
			<div class="generalities-left">
				<img src="./styles/icons/arrow-back.svg" class="arrow-back" onclick="back()">
				<div class="generalities-left-content">
					<p>1. Педагог-психолог относится к категории специалистов.</p>
					<p>2. На должность педагога-психолога назначается лицо, имеющее среднее психологическое или среднее педагогическое образование с дополнительной специальностью "Психология".</p>
					<p>3. Назначение на должность педагога-психолога и освобождение производится приказом директора.</p>
					<p>
						4. Педагог-психолог должен знать: <br>
						4.1. Конституцию РФ. <br>
						4.5. Нормативные документы, регулирующие вопросы охраны труда, профориентации, занятости обучающихся (воспитанников) и их социальной защиты.
					</p>
				</div>
			</div>
			<div class="generalities-right">
				<div class="generalities-right-content">
					<p class="generalities-title">Руководители:</p>
					<div class="list-description">
						<li>Александров Макар Андреевич - Доктор наук химии</li>
						<li>Брежнев Леонид Ильич - Доктор наук химии</li>
					</div>
				</div>
				<div class="generalities-right-content">
					<p class="generalities-title">Дрес-код:</p>
					<div class="list-description">
						<li>Описание одежды. На должность педагога-психолога назначается лицо.</li>
						<li>Описание одежды.</li>
					</div>
				</div>
				<div class="generalities-right-content">
					<p class="generalities-title">Расписание:</p>
					<div class="list-description">
						<li>Описание тайминга. Обед или расписание работы или вообще, что угодно.</li>
						<li>Текст</li>
					</div>
				</div>
			</div>
		</div>