<div class="institute-content" id="institute-structure">
	<div class="institute-left">
		<img src="./styles/icons/arrow-back.svg" class="arrow-back" onclick="back()">
		<div class="institute-title">
			Общая информация
		</div>
		<div class="institute-list">
			<div class="list-item">
				<p class="title">Факультеты</p>
				<li>Социально-гуманитарный факультет</li>
				<li>Факультет филологии и массовых коммуникаций</li>
				<li>Факультет психолого-педагогического образования</li>
				<li>Факультет естествознания, математики и информатики</li>
				<li>Факультет художественного образования</li>
				<li>Факультет спорта и безопасности жизнедеятельности</li>
			</div>
		</div>
	</div>
	<div class="institute-right">
		<div class="institute-title">
			Описание ...
		</div>
		<div class="institute-list">
			<div class="list-item">
				<p class="title">Заголовок</p>
				<li>Текст</li>
				<li>Текст</li>
			</div>
		</div>
	</div>
</div>