<div class="responsibilities-content" id="responsibilities">
	<div class="responsibilities-left">
		<img src="./styles/icons/arrow-back.svg" class="arrow-back" onclick="back()">
		<div class="responsibilities-title">
			Должностные обязанности
		</div>
		<div class="duties-list">
			<div class="list-item">
				<p class="title">Заголовок</p>
				<li>Текст</li>
				<li>Текст</li>
			</div>
		</div>
	</div>
	<div class="responsibilities-right">
		<div class="responsibilities-title">
			Права
		</div>
		<div class="rights-list">
			<div class="list-item">
				<p class="title">Заголовок</p>
				<li>Текст</li>
				<li>Текст</li>
			</div>
		</div>
	</div>
</div>