<div class="documents-content" id="documents">
	<div class="documents-left">
		<img src="./styles/icons/arrow-back.svg" class="arrow-back" onclick="back()">
		<div class="documents-title">
			Документы ...
		</div>
		<div class="documents-list">
			<div class="list-item">
				<p class="title">Заголовок</p>
				<li>Текст</li>
				<li>Текст</li>
			</div>
		</div>
	</div>
	<div class="documents-right">
		<div class="documents-title">
			Документы ...
		</div>
		<div class="documents-list">
			<div class="list-item">
				<p class="title">Заголовок</p>
				<li>Текст</li>
				<li>Текст</li>
			</div>
		</div>
	</div>
</div>