<div class="responsibilities-content" id="responsibilities">
	<div class="responsibilities-left">
		<img src="./styles/icons/arrow-back.svg" class="arrow-back" onclick="back()">
		<div class="responsibilities-title">
			Должностные обязанности
		</div>
		<div class="duties-list">
			<div class="list-item">
				<p class="title">Список нормативных документов</p>
				<li>ДОЛЖНОСТНАЯ ИНСТРУКЦИЯ УЧИТЕЛЯ НАЧАЛЬНЫХ КЛАССОВ</li>
				<li>Иные нормативно-правовые документы</li>
			</div>
		</div>
	</div>
	<div class="responsibilities-right">
		<div class="responsibilities-title">
			Основная информация
		</div>
		<div class="rights-list">
			<div class="list-item">
				<p class="title">Общие положения</p>
				<li>Настоящая должностная инструкция разработана на основе приказа Министерства здравоохранения и социального развития Российской Федерации от 26 августа 2010 г. № 761н «Об утверждении единого квалификационного справочника должностей руководителей, специалистов и служащих, раздел «Квалификационные характеристики должностей работников образования»».</li>
				<li>При составлении инструкции учтены также Примерные рекомендации об организации службы охраны труда в организации, утвержденные постановлением Министерства труда Российской Федерации от 8 февраля 2000г. № 14.</li>
				<li>Учитель начальных классов назначается и освобождается от занимаемой должности директором общеобразовательного учреждения.</li>
				<li>Учитель начальных классов подчиняется непосредственно заместителю директора школы по учебно-воспитательной работе.</li>
				<li>Учитель должен знать:
				Конституцию РФ; законы РФ, решения Правительства РФ и органов управления образованием по вопросам образования; Конвенцию о правах ребенка;
				основы общетеоретических дисциплин в объёме, необходимом для решения педагогических, научно-методических и организационно-управленческих задач на ступени начального общего образования общеобразовательного учреждения, педагогику, психологию, возрастную физиологию, школьную гигиену;</li>
			</div>
		</div>
	</div>
</div>