<div class="institute-content" id="institute-structure">
	<div class="institute-left">
		<img src="./styles/icons/arrow-back.svg" class="arrow-back" onclick="back()">
		<div class="institute-title">
			Описание ...
		</div>
		<div class="institute-list">
			<div class="list-item">
				<p class="title">Заголовок</p>
				<li>Текст</li>
				<li>Текст</li>
			</div>
		</div>
	</div>
	<div class="institute-right">
		<div class="institute-title">
			Описание ...
		</div>
		<div class="institute-list">
			<div class="list-item">
				<p class="title">Заголовок</p>
				<li>Текст</li>
				<li>Текст</li>
			</div>
		</div>
	</div>
</div>