<main>
	<div class="current-tasks">
		<div class="title">
			Текущие задачи
		</div>
		<div class="list-container">
			<div class="item">
				Сделать мне кофе
			</div>
		</div>
	</div>
	<div class="documents">
		<div class="check-title">
			Документы
		</div>
		<div class="check-container">
			<div class="check-item">
				<input type="checkbox">
				<p>Название документа</p>
			</div>
		</div>
	</div>
	<div class="intern-list">
		<div class="title">
			Стажеры
		</div>
		<div class="list-container">
			<div class="item">
				Валера
			</div>
		</div>
	</div>
</main>