main .documents-content {
	width: 900px;
	height: 620px;
	margin-left: calc( 50% - 450px );
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: none;
}

main .documents-content .documents-left .documents-title, main .documents-content .documents-right .documents-title {
	font-weight: bold;
	padding: 25px;
	font-size: 20px;
}

main .documents-content .documents-left, main .documents-content .documents-right {
	display: inline-block;
	height: 100%;
}

main .documents-content .documents-left {
	width: 360px;
	background-color: #F4F4F4;
	border-radius: 4px;
}

main .documents-content .documents-left .arrow-back {
	padding: 30px;
	display: block;
	cursor: pointer;
}

main .documents-content .documents-right {
	width: 540px;
	float: right;
	background: linear-gradient(304.21deg, #FBD642 20.06%, #FFC32A 78.71%);
	border-radius: 4px;
	color: white;
	overflow-y: auto;
}

main .documents-content .list-item {
	height: auto;
}

main .documents-content .list-item * {
	padding-left: 30px;
}

main .documents-content .list-item .title {
	font-size: 20px;
	font-weight: bold;
}

main .documents-content .list-item li {
	margin-left: 35px;
	padding-top: 5px;
	padding-left: 10px;
}