header {
	height: 120px;
	width: 100%;
	background-color: white;
	box-shadow: 0px 3px 10px rgba(148, 148, 148, 0.15);
	position: relative;
}

header .changemenu {
	position: absolute;
	top: 0;
	left: calc(50% - 100px);
}

header .changemenu .view select {
	width: 200px;
	height: 70%;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 0 0 5px 5px;
	background-color: #5ADB6F;
}

header .changemenu .view .links {
	height: 30%;
}

header .changemenu .view .links a {
	text-decoration: none;
	color: black;
}

header .changemenu .view .links a:first-child {
	margin-left: 13px;
}

header .changemenu .view .links a:hover {
	color: white;
}

header .changemenu .view {
	height: 0;
	overflow: hidden;
	background-color: #5ADB6F;
	border-radius: 0 0 5px 5px;
}

header .changemenu .triangle {
	position: relative;
}

header .changemenu .triangle::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #5ADB6F; /* Добавляем треугольник */
    cursor: pointer;
	left: 85px;
}

header .header-container {
	margin-left: calc( 50% - 450px );
	height: 100%;
	width: 900px;
}

header .header-container * {
	height: 100%;
	display: inline-block;
}

header .header-container .logo-container {
	width: 20%;
	float: left;
}

header .header-container .logo-container img {
	height: 50px;
	margin-top: 35px;
}

header .header-container .title-container {
	width: 50%;
	text-align: center;
}

header .header-container .title-container .title {
	line-height: 27px;
	color: #C4C4C4;
	font-size: 16px;
	margin-top: 44px;
}

header .header-container .user-container {
	width: 30%;
	float: right;
	display: inline-block;
}

header .header-container .user-container .avatar-container {
	height: 100%;
	/*margin-top: 40px;*/
	margin-left: 20px;
}

header .header-container .user-container .avatar-container .avatar {
	width: 40px;
	height: 40px;
	margin-top: 40px;
	border-radius: 25px;
	background-color: grey;
	float: left;
}

header .header-container .user-container .fio-container {
	height: 100%;
	/*float: right;*/
	line-height: 120px;
	margin-left: 10px;
	vertical-align: top;

}