main .responsibilities-content {
	width: 900px;
	height: 620px;
	margin-left: calc( 50% - 450px );
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: none;
}

main .responsibilities-content .responsibilities-left .responsibilities-title, main .responsibilities-content .responsibilities-right .responsibilities-title {
	font-weight: bold;
	padding: 25px;
	font-size: 20px;
}

main .responsibilities-content .responsibilities-left, main .responsibilities-content .responsibilities-right {
	display: inline-block;
	height: 100%;
}

main .responsibilities-content .responsibilities-left {
	width: 360px;
	background-color: #F4F4F4;
	border-radius: 4px;
	height: 620px;
}

main .responsibilities-content .responsibilities-left .arrow-back {
	padding: 30px;
	display: block;
	cursor: pointer;
}

main .responsibilities-content .responsibilities-right {
	width: 540px;
	float: right;
	background: linear-gradient(114.13deg, #F45B64 19.12%, #FF9B7C 86.53%);
	border-radius: 4px;
	color: white;
	overflow-y: auto;
}

main .responsibilities-content .list-item {
	overflow-y: auto;
	height: 100%;
}

main .responsibilities-content .list-item * {
	padding-left: 30px;
}

main .responsibilities-content .list-item .title {
	font-size: 20px;
	font-weight: bold;
}

main .responsibilities-content .list-item li {
	padding-left: 35px;
	padding-top: 5px;
}