* {
	margin: 0;
	padding: 0;
	font-family: 'Circe',Arial,sans-serif;
	user-select: none;
}

/*main*/

main {
	width: 900px;
	height: auto;
	padding: 50px 0;
	margin-left: calc( 50% - 450px );
}

main .title-instruction {
	padding: 50px 0;
	width: 100%;
	text-align: left;
	font-size: 64px;
	font-weight: bold;
	color: #EEEEEE;
}

main .main-content {
	width: 100%;
	height: auto;
}

main .main-content .top-content {
	width: 100%;
	height: auto;
}

main .main-content .top-content * {
	height: 300px;
	display: inline-block;
	width: 49.8%;
	cursor: pointer;
}

main .main-content .top-content *:hover {
	opacity: 0.9;
}

main .main-content .top-content .main-regulations {
	background: linear-gradient(125.38deg, #F95962 19.12%, #FB8E6B 86.53%);
	border-radius: 4px;
	position: relative;
}

main .main-content .top-content .main-regulations .card-img {
	height: 50%;
	width: 100%;
}

main .main-content .top-content .main-regulations .card-img img {
	padding: 35px;
	width: 50px;
	height: 65px;
}

main .main-content .top-content .main-regulations .card-title {
	height: 50%;
	width: 100%;
}

main .main-content .top-content .main-regulations .card-title p {
	font-size: 36px;
	line-height: 40px;
	padding-left: 35px;
	width: 100%;
	height: 100%;
	color: white;
	font-weight: bold;
}

main .main-content .top-content .active-tasks {
	background: linear-gradient(125.38deg, #5ADB6F 19.12%, #68E48B 86.53%);
	border-radius: 4px;
	float: right;
	position: relative;
}

main .main-content .top-content .active-tasks:after {
	content: '2';
	height: 50px;
	width: 50px;
	background-color: #47F98A;
	position: absolute;
	right: 30px;
	top: 30px;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 27px;
}

main .main-content .top-content .active-tasks .card-img {
	height: 50%;
	width: 100%;
}

main .main-content .top-content .active-tasks .card-img img {
	padding: 35px;
	width: 50px;
	height: 65px;
}

main .main-content .top-content .active-tasks .card-title {
	height: 50%;
	width: 100%;
}

main .main-content .top-content .active-tasks .card-title p {
	font-size: 36px;
	line-height: 40px;
	padding-left: 35px;
	width: 100%;
	height: 100%;
	color: white;
	font-weight: bold;
}

main .main-content .bottom-content {
	width: 100%;
	height: auto;
	margin-top: 3px;
}

main .main-content .bottom-content div {
	display: inline-block;
	cursor: pointer;
}

main .main-content .bottom-content div:hover {
	opacity: 0.9;
}

main .main-content .bottom-content .job-responsibilities {
	height: 230px;
	width: 300px;
	background: linear-gradient(123.65deg, #52C3D4 19.12%, #60DBDB 86.53%);
	border-radius: 4px;
	float: left;
}

main .main-content .bottom-content .job-responsibilities .card-img {
	height: 50%;
	width: 100%;
}

main .main-content .bottom-content .job-responsibilities .card-img img {
	padding: 35px;
	width: 40px;
	height: 55px;
}

main .main-content .bottom-content .job-responsibilities .card-title {
	height: 50%;
	width: 100%;
}

main .main-content .bottom-content .job-responsibilities .card-title p {
	font-size: 23px;
	line-height: 30px;
	padding-left: 35px;
	width: 100%;
	height: 100%;
	color: white;
	font-weight: bold;
}

main .main-content .bottom-content .documents {
	height: 230px;
	width: 320px;
	background: linear-gradient(304.21deg, #FBD642 20.06%, #FFC32A 78.71%);
	border-radius: 4px;
	margin-left: 3px;
}

main .main-content .bottom-content .documents .card-img {
	height: 50%;
	width: 100%;
}

main .main-content .bottom-content .documents .card-img img {
	padding: 35px;
	width: 55px;
	height: 55px;
}

main .main-content .bottom-content .documents .card-title {
	height: 50%;
	width: 100%;
}

main .main-content .bottom-content .documents .card-title p {
	font-size: 23px;
	line-height: 30px;
	padding-left: 35px;
	width: 100%;
	height: 100%;
	color: white;
	font-weight: bold;
}

main .main-content .bottom-content .institute-structure {
	height: 230px;
	float: right;
	width: 272px;
	background: linear-gradient(115.74deg, #6796FC 19.12%, #6BB7FC 86.53%);
	border-radius: 4px;
}

main .main-content .bottom-content .institute-structure .card-img {
	height: 50%;
	width: 100%;
}

main .main-content .bottom-content .institute-structure .card-img img {
	padding: 35px;
	width: 65px;
	height: 35px;
}

main .main-content .bottom-content .institute-structure .card-title {
	height: 50%;
	width: 100%;
}

main .main-content .bottom-content .institute-structure .card-title p {
	font-size: 23px;
	line-height: 30px;
	padding-left: 35px;
	width: 100%;
	height: 100%;
	color: white;
	font-weight: bold;
}

/**/

/*generalities*/

main .generalities-content {
	width: 900px;
	height: 620px;
	margin-left: calc( 50% - 450px );
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: none;
}

main .generalities-content div {
	display: inline-block;
	height: 100%;
}

main .generalities-content .generalities-left {
	width: 360px;
	background-color: #F4F4F4;
	border-radius: 4px;
}

main .generalities-content .generalities-left .arrow-back {
	padding: 40px;
	display: block;
	cursor: pointer;
}

main .generalities-content .generalities-left .generalities-left-content {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

main .generalities-content .generalities-left .generalities-left-content p {
	display: block;
	padding: 20px;
}

main .generalities-content .generalities-right {
	width: 540px;
	float: right;
	background: linear-gradient(114.13deg, #F45B64 19.12%, #FF9B7C 86.53%);
	border-radius: 4px;
	color: white;
	overflow-y: auto;
}

main .generalities-content .generalities-right .generalities-right-content {
	height: auto;
}

main .generalities-content .generalities-right .generalities-right-content .generalities-title {
	font-weight: bold;
	padding: 25px;
	font-size: 20px;
}

main .generalities-content .generalities-right .generalities-right-content .list-description {
	padding-left: 25px;
}

main .generalities-content .generalities-right .generalities-right-content .list-description li {
	list-style-type: disc;
	padding-bottom: 10px;
}

/**/

/*tasks*/

main .tasks-content {
	width: 900px;
	height: 620px;
	margin-left: calc( 50% - 450px );
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: none;
}

main .tasks-content .tasks-left, main .tasks-content .tasks-right {
	display: inline-block;
	height: 100%;
}

main .tasks-content .tasks-left {
	width: 360px;
	background-color: #F4F4F4;
	border-radius: 4px;
}

main .tasks-content .tasks-left .task-list {
	height: auto;
}

main .tasks-content .tasks-left .arrow-back {
	padding: 30px;
	display: block;
	cursor: pointer;
}

main .tasks-content .tasks-left .task-list .task-item {
	width: 70%;
	height: 50px;
	margin-left: 10%;
	line-height: 50px;
	cursor: pointer;
	padding-left: 20px;
	border: none;
	border-bottom: 1px solid black;
	background-color: #F4F4F4;
	text-align: left;
}

main .tasks-content .tasks-left .task-list .task-item:hover {
	background-color: #D4F4F4;
}

main .tasks-content .tasks-left .task-title {
	font-weight: bold;
	padding: 25px;
	font-size: 20px;
	width: 100%;
}

main .tasks-content .tasks-right {
	width: 540px;
	float: right;
	background: linear-gradient(114.13deg, #F45B64 19.12%, #FF9B7C 86.53%);
	border-radius: 4px;
	color: white;
	overflow-y: auto;
}

main .tasks-content .tasks-right .active-list {
	height: auto;
}

main .tasks-content .tasks-right .active-list .active-item {
	height: auto;
	width: 70%;
	margin-left: 10%;
	border-bottom: 1px solid black;
	padding-left: 20px;
}

main .tasks-content .tasks-right .active-list .active-item .item-title {
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 5px;
}

main .tasks-content .tasks-right .active-list .active-item .item-documents a {
	display: block;
	color: white;
	text-decoration: none;
	padding-top: 10px;
	padding-left: 25px;
	padding-bottom: 5px;
	position: relative;
}

main .tasks-content .tasks-right .active-list .active-item .item-documents a:before {
	content: '';
	background: url(./icons/docs.png);
	background-size: cover;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	top: 7px;
}

main .tasks-content .tasks-right .tasks-right-content {
	height: auto;
}

main .tasks-content .tasks-right .active-title {
	font-weight: bold;
	padding: 25px;
	font-size: 20px;
}

/**/

/*responsibilities-content*/

main .responsibilities-content {
	width: 900px;
	height: 620px;
	margin-left: calc( 50% - 450px );
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: none;
}

main .responsibilities-content .responsibilities-left .responsibilities-title, main .responsibilities-content .responsibilities-right .responsibilities-title {
	font-weight: bold;
	padding: 25px;
	font-size: 20px;
}

main .responsibilities-content .responsibilities-left, main .responsibilities-content .responsibilities-right {
	display: inline-block;
	height: 100%;
}

main .responsibilities-content .responsibilities-left {
	width: 360px;
	background-color: #F4F4F4;
	border-radius: 4px;
}

main .responsibilities-content .responsibilities-left .arrow-back {
	padding: 30px;
	display: block;
	cursor: pointer;
}

main .responsibilities-content .responsibilities-right {
	width: 540px;
	float: right;
	background: linear-gradient(114.13deg, #F45B64 19.12%, #FF9B7C 86.53%);
	border-radius: 4px;
	color: white;
	overflow-y: auto;
}

main .responsibilities-content .list-item {
	height: auto;
}

main .responsibilities-content .list-item * {
	padding-left: 30px;
}

main .responsibilities-content .list-item .title {
	font-size: 20px;
	font-weight: bold;
}

main .responsibilities-content .list-item li {
	padding-left: 35px;
	padding-top: 5px;
}

/**/

/*documents-content*/

main .documents-content {
	width: 900px;
	height: 620px;
	margin-left: calc( 50% - 450px );
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: none;
}

main .documents-content .documents-left .documents-title, main .documents-content .documents-right .documents-title {
	font-weight: bold;
	padding: 25px;
	font-size: 20px;
}

main .documents-content .documents-left, main .documents-content .documents-right {
	display: inline-block;
	height: 100%;
}

main .documents-content .documents-left {
	width: 360px;
	background-color: #F4F4F4;
	border-radius: 4px;
}

main .documents-content .documents-left .arrow-back {
	padding: 30px;
	display: block;
	cursor: pointer;
}

main .documents-content .documents-right {
	width: 540px;
	float: right;
	background: linear-gradient(114.13deg, #F45B64 19.12%, #FF9B7C 86.53%);
	border-radius: 4px;
	color: white;
	overflow-y: auto;
}

main .documents-content .list-item {
	height: auto;
}

main .documents-content .list-item * {
	padding-left: 30px;
}

main .documents-content .list-item .title {
	font-size: 20px;
	font-weight: bold;
}

main .documents-content .list-item li {
	padding-left: 35px;
	padding-top: 5px;
}

/**/

/*institute-content*/

main .institute-content {
	width: 900px;
	height: 620px;
	margin-left: calc( 50% - 450px );
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: none;
}

main .institute-content .institute-left .institute-title, main .institute-content .institute-right .institute-title {
	font-weight: bold;
	padding: 25px;
	font-size: 20px;
}

main .institute-content .institute-left, main .institute-content .institute-right {
	display: inline-block;
	height: 100%;
}

main .institute-content .institute-left {
	width: 360px;
	background-color: #F4F4F4;
	border-radius: 4px;
}

main .institute-content .institute-left .arrow-back {
	padding: 30px;
	display: block;
	cursor: pointer;
}

main .institute-content .institute-right {
	width: 540px;
	float: right;
	background: linear-gradient(114.13deg, #F45B64 19.12%, #FF9B7C 86.53%);
	border-radius: 4px;
	color: white;
	overflow-y: auto;
}

main .institute-content .list-item {
	height: auto;
}

main .institute-content .list-item * {
	padding-left: 30px;
}

main .institute-content .list-item .title {
	font-size: 20px;
	font-weight: bold;
}

main .institute-content .list-item li {
	padding-left: 35px;
	padding-top: 5px;
}

/**/

/*footer*/

footer {
	width: 900px;
	height: 150px;
	margin-left: calc( 50% - 450px );
	padding-bottom: 50px;
}

footer div {
	display: inline-block;
}

footer .footer-left {
	width: 300px;
	height: 100%;
	line-height: 21px;
	align-items: center;
	font-size: 14px;
}

footer .footer-left .left-content {
	display: flex;
	align-items: center;
	height: 100%;
}	

footer .footer-right {
	width: 600px;
	height: 100%;
	float: right;
	background-color: #F4F4F4;
	border-radius: 5px;
}

footer .footer-right div {
	display: inline-block;
}

footer .footer-right .curator-info {
	width: 320px;
	float: left;
	height: 100%;
}

footer .footer-right .curator-info .info-content {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	line-height: 20px;
	font-size: 15px;
	padding-left: 10px;
}

footer .footer-right .arrow {
	width: 20px;
	height: 100%;
	text-align: center;
}

footer .footer-right .arrow img {
	width: 17px;
	height: 17px;
	margin-top: 67px;
}

footer .footer-right .curator-data {
	width: 260px;
	float: right;
	height: 100%;
}

footer .footer-right .curator-data .data-content {
	font-weight: bold;
	display: flex;
	align-items: center;
	height: 100%;
	line-height: 25px;
	padding-left: 30px;
}

/**/